<p id="notice"><%= notice %></p>
<%= @player.name %><br />
<%= @player.date %><br />
<%= @player.course_name %><br />
<%= @player.par %><br />
<%= @player.score %><br />
<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
